@model IEnumerable<PTStoreManager2020.Models.MauHang>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenMH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonVi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChuThich)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenMH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonVi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChuThich)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaMH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaMH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaMH })
        </td>
    </tr>
}

</table>
