@model IEnumerable<PTStoreManager2020.Models.Hang>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HanSuDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MauHang.TenMH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhaCungCap.TenNCC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HanSuDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MauHang.TenMH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhaCungCap.TenNCC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaH })
        </td>
    </tr>
}

</table>
