@model IEnumerable<PTStoreManager2020.Models.DonHangXuat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayXuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiamGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KieuGiamGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.HoTen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiamGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KieuGiamGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.HoTen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDHX }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDHX }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDHX })
        </td>
    </tr>
}

</table>
