@model PTStoreManager.Models.DonHangXuat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DonHangXuat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiamGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiamGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KieuGiamGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KieuGiamGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.HoTen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDHX }) |
    @Html.ActionLink("Back to List", "Index")
</p>
